<div id="filter-options">
    <div class="year-container">
        <b><label for="start-year">Start Year:</label></b>
        <select id="start-year" name="start_year"></select>
        <b> <label for="end-year">&nbsp &nbsp End Year:</label></b>
        <select id="end-year" name="end_year"></select>
    </div> <br>
    <b>Filter by book name:</b> <br>
    <label>
        <input type="checkbox" id="Short Textbook of Anesthesia" name="Short Textbook of Anesthesia">Ajay Yadav, Short
        Textbook of
        Anesthesia
    </label>
    <label>
        <input type="checkbox" id="Basic Clinical Anesthesia" name="Basic Clinical Anesthesia"> Basic Clinical
        Anesthesia
    </label>
    <label>
        <input type="checkbox" id="Basic Physiology for Anaesthetists" name="Basic Physiology for Anaesthetists"> Basic
        Physiology for Anaesthetists
    </label>
    <label>
        <input type="checkbox" id="Bonica's Management of pain" name="Bonica's Management of pain"> Bonica's Management
        of pain
    </label>
    <label>
        <input type="checkbox" id="Clinical Anesthesia Barash" name="Clinical Anesthesia Barash">Barash, Clinical
        Anesthesia
    </label>

    <label>
        <input type="checkbox" id="Concise Anatomy for Anaesthesia" name="Concise Anatomy for Anaesthesia">Concise
        Anatomy for Anaesthesia
    </label>
    <label>
        <input type="checkbox" id="Coté and Lerman's A Practice of Anesthesia for Infants and Children"
            name="Coté and Lerman's A Practice of Anesthesia for Infants and Children"> Coté and Lerman's A Practice of
        Anesthesia for Infants and Children
    </label>
    <label>
        <input type="checkbox" id="UNDERSTAND ANESTHESIA EQUIPMENT" name="UNDERSTAND ANESTHESIA EQUIPMENT">Dorsch,
        Dorsch, UNDERSTAND
        ANESTHESIA EQUIPMENT
    </label>
    <label>
        <input type="checkbox" id="Ganong's Review of Medical Physiology" name="Ganong's Review of Medical Physiology">
        Ganong's Review of Medical Physiology
    </label>
    <label>
        <input type="checkbox" id="Goldberger’s Clinical Electrocardiography"
            name="Goldberger’s Clinical Electrocardiography"> Goldberger’s Clinical Electrocardiography
    </label>
    <label>
        <input type="checkbox" id="Gregory’s Pediatric Anesthesia" name="Gregory’s Pediatric Anesthesia"> Gregory’s
        Pediatric Anesthesia
    </label>
    <label>
        <input type="checkbox"
            id="Hadzic’s Peripheral Nerve Blocks and Anatomy for Ultrasound-Guided Regional Anesthesia"
            name="Hadzic’s Peripheral Nerve Blocks and Anatomy for Ultrasound-Guided Regional Anesthesia"> Hadzic’s
        Peripheral Nerve Blocks and Anatomy for Ultrasound-Guided Regional Anesthesia
    </label>
    <label>
        <input type="checkbox" id="HADZIC’S TEXTBOOK OF REGIONAL ANESTHESIA AND ACUTE PAIN MANAGEMENT"
            name="HADZIC’S TEXTBOOK OF REGIONAL ANESTHESIA AND ACUTE PAIN MANAGEMENT"> HADZIC’S TEXTBOOK OF REGIONAL
        ANESTHESIA AND ACUTE PAIN MANAGEMENT
    </label>
    <label>
        <input type="checkbox" id="Hagberg and Benumof ’s AIRWAY MANAGEMENT"
            name="Hagberg and Benumof ’s AIRWAY MANAGEMENT"> Hagberg and Benumof ’s AIRWAY MANAGEMENT
    </label>
    <label>
        <input type="checkbox" id="Handbook of Clinical Anaesthesia" name="Handbook of Clinical Anaesthesia"> Handbook
        of Clinical Anaesthesia
    </label>
    <label>
        <input type="checkbox" id="Hung's DIFFICULT AND FAILED AIRWAY MANAGEMENT"
            name="Hung's DIFFICULT AND FAILED AIRWAY MANAGEMENT"> Hung's DIFFICULT AND FAILED AIRWAY MANAGEMENT
    </label>
    <label>
        <input type="checkbox" id="HUTCHISON’S CLINICAL METHODS" name="HUTCHISON’S CLINICAL METHODS"> HUTCHISON’S
        CLINICAL METHODS
    </label>
    <label>
        <input type="checkbox" id="PRINCIPLES OF INTERNAL MEDICINE" name="PRINCIPLES OF INTERNAL MEDICINE"> Harrison's
        PRINCIPLES
        OF INTERNAL MEDICINE
    </label>

    <label>
        <input type="checkbox" id="Irwin and Rippe’s Intensive Care Medicine"
            name="Irwin and Rippe’s Intensive Care Medicine"> Irwin and Rippe’s Intensive Care Medicine
    </label>
    <label>
        <input type="checkbox" id="KAPLAN’S CARDIAC ANESTHESIA FOR CARDIAC AND NONCARDIAC SURGERY"
            name="KAPLAN’S CARDIAC ANESTHESIA FOR CARDIAC AND NONCARDIAC SURGERY"> KAPLAN’S CARDIAC ANESTHESIA FOR
        CARDIAC AND NONCARDIAC SURGERY
    </label>
    <label>
        <input type="checkbox" id="Macleod’s Clinical Examination" name="Macleod’s Clinical Examination"> Macleod’s
        Clinical Examination
    </label>
    <label>
        <input type="checkbox" id="Basics of ANESTHESIA" name="Basics of ANESTHESIA">Miller, Basics of ANESTHESIA
    </label>
    <label>
        <input type="checkbox" id="Miller's Anesthesia " name="Miller's Anesthesia "> Miller's Anesthesia
    </label>

    <label>
        <input type="checkbox" id="Morgan And Mikhails Clinical Anesthesiology"
            name="Morgan And Mikhails Clinical Anesthesiology"> Morgan And Mikhails Clinical Anesthesiology
    </label>
    <label>
        <input type="checkbox" id="Oxford Handbook of Anaesthesia" name="Oxford Handbook of Anaesthesia"> Oxford
        Handbook of Anaesthesia
    </label>
    <label>
        <input type="checkbox" id="Pharmacology for Anaesthesia and Intensive Care" name="option3">Pharmacology for
        Anaesthesia and Intensive Care
    </label>
    <label>
        <input type="checkbox" id="PILBEAM’S Mechanical Ventilation Physiological and Clinical Applications"
            name="PILBEAM’S Mechanical Ventilation Physiological and Clinical Applications"> PILBEAM’S Mechanical
        Ventilation Physiological and Clinical Applications
    </label>
    <label>
        <input type="checkbox" id="Point-of-Care Ultrasound" name="Point-of-Care Ultrasound">Point-of-Care Ultrasound
    </label>
    <label>
        <input type="checkbox" id="PRACTICAL MANAGEMENT OF PAIN" name="PRACTICAL MANAGEMENT OF PAIN">Robert, PRACTICAL
        MANAGEMENT OF PAIN
    </label>
    <label>
        <input type="checkbox" id="BASIC SCIENCE FOR ANAESTHETISTS" name="BASIC SCIENCE FOR ANAESTHETISTS">SYLVA, BASIC
        SCIENCE FOR ANAESTHETISTS
    </label>
    <label>
        <input type="checkbox" id="Smith and Aitkenhead's Textbook of Anaesthesia"
            name="Smith and Aitkenhead's Textbook of Anaesthesia"> Smith and Aitkenhead's Textbook of Anaesthesia
    </label>
    <label>
        <input type="checkbox" id="STOELTING’S ANESTHESIA AND CO-EXISTING DISEASE"
            name="STOELTING’S ANESTHESIA AND CO-EXISTING DISEASE"> STOELTING’S ANESTHESIA AND CO-EXISTING DISEASE
    </label>
    <label>
        <input type="checkbox" id="STOELTING’S Pharmacology and Physiology in Anesthetic Practice"
            name="STOELTING’S Pharmacology and Physiology in Anesthetic Practice"> STOELTING’S Pharmacology and
        Physiology in Anesthetic Practice
    </label>
    <label>
        <input type="checkbox" id="TEXTBOOK OF CRITICAL CARE" name="TEXTBOOK OF CRITICAL CARE"> Jean-Louis Vincent,
        TEXTBOOK OF CRITICAL
        CARE
    </label>
    <label>
        <input type="checkbox" id="The 5-Minute Anesthesia Consult" name="The 5-Minute Anesthesia Consult">Nina Singh,
        The 5-Minute
        Anesthesia Consult
    </label>
    <label>
        <input type="checkbox" id="The ECG Made Easy" name="The ECG Made Easy">John R. Hampton, The ECG Made Easy
    </label>

    <label>
        <input type="checkbox" id="UNDERSTANDING PAEDIATRIC ANAESTHESIA" name="UNDERSTANDING PAEDIATRIC ANAESTHESIA">
        UNDERSTANDING PAEDIATRIC ANAESTHESIA
    </label>

    <label>
        <input type="checkbox" id="West’s Respiratory Physiology" name="West’s Respiratory Physiology"> West’s
        Respiratory Physiology
    </label>

    <label>
        <input type="checkbox" id="Wylie and Churchill-Davidson's A Practice of Anesthesia"
            name="Wylie and Churchill-Davidson's A Practice of Anesthesia"> Wylie and Churchill-Davidson's A Practice of
        Anesthesia
    </label>

    <label>
        <input type="checkbox" id="Yao & Artusio’s Anesthesiology: Problem-Oriented Patient Management"
            name="Yao & Artusio’s Anesthesiology: Problem-Oriented Patient Management"> Yao & Artusio’s Anesthesiology:
        Problem-Oriented Patient Management
    </label>



    <!-- Add more checkboxes as needed -->
    <br>
    <button id="apply-btn">Apply</button>
    <br><br>
</div>