<div id="filter-options">
    <div class="year-container">
        <b><label for="start-year">Start Year:</label></b>
        <select id="start-year" name="start_year"></select>
        <b> <label for="end-year">&nbsp &nbsp End Year:</label></b>
        <select id="end-year" name="end_year"></select>
    </div> <br>
    <b>Filter by book name:</b> <br>
    <label>
        <input type="checkbox" id="Hung's DIFFICULT AND FAILED AIRWAY MANAGEMENT"
            name="Hung's DIFFICULT AND FAILED AIRWAY MANAGEMENT"> Hung's DIFFICULT AND FAILED AIRWAY MANAGEMENT
    </label>
    <label>
        <input type="checkbox" id="Hagberg and Benumof ’s AIRWAY MANAGEMENT"
            name="Hagberg and Benumof ’s AIRWAY MANAGEMENT"> Hagberg and Benumof ’s AIRWAY MANAGEMENT
    </label>
    <label>
        <input type="checkbox" id="Irwin and Rippe’s Intensive Care Medicine"
            name="Irwin and Rippe’s Intensive Care Medicine"> Irwin and Rippe’s Intensive Care Medicine
    </label>
    <label>
        <input type="checkbox" id="Pharmacology for Anaesthesia and Intensive Care" name="option3">Pharmacology for
        Anaesthesia and Intensive Care
    </label>
    <label>
        <input type="checkbox" id="PILBEAM’S Mechanical Ventilation Physiological and Clinical Applications"
            name="PILBEAM’S Mechanical Ventilation Physiological and Clinical Applications"> PILBEAM’S Mechanical
        Ventilation Physiological and Clinical Applications
    </label>


    <!-- Add more checkboxes as needed -->
    <br>
    <button id="apply-btn">Apply</button>
    <br><br>
</div>