<div id="filter-options">
    <div class="year-container">
        <b><label for="start-year">Start Year:</label></b>
        <select id="start-year" name="start_year"></select>
        <b> <label for="end-year">&nbsp &nbsp End Year:</label></b>
        <select id="end-year" name="end_year"></select>
    </div> <br>
    <b>Filter by book name:</b> <br>
    <label>
        <input type="checkbox" id="Short Textbook of Anesthesia" name="Short Textbook of Anesthesia">Ajay Yadav, Short
        Textbook of
        Anesthesia
    </label>
    <label>
        <input type="checkbox" id="Basic Clinical Anesthesia" name="Basic Clinical Anesthesia"> Basic Clinical
        Anesthesia
    </label>
    <label>
        <input type="checkbox" id="Basic Physiology for Anaesthetists" name="Basic Physiology for Anaesthetists"> Basic
        Physiology for Anaesthetists
    </label>
    <label>
        <input type="checkbox" id="Bonica's Management of pain" name="Bonica's Management of pain"> Bonica's Management
        of pain
    </label>
    <label>
        <input type="checkbox" id="Clinical Anesthesia Barash" name="Clinical Anesthesia Barash">Barash, Clinical
        Anesthesia
    </label>

    <!-- Add more checkboxes as needed -->
    <br>
    <button id="apply-btn">Apply</button>
    <br><br>
</div>