<div id="filter-options">
    <div class="year-container">
        <b><label for="start-year">Start Year:</label></b>
        <select id="start-year" name="start_year"></select>
        <b> <label for="end-year">&nbsp &nbsp End Year:</label></b>
        <select id="end-year" name="end_year"></select>
    </div> <br>
    <b>Filter by book name:</b> <br>
    <label>
        <input type="checkbox" id="HUTCHISON’S CLINICAL METHODS" name="HUTCHISON’S CLINICAL METHODS"> HUTCHISON’S
        CLINICAL METHODS
    </label>
    <label>
        <input type="checkbox" id="Macleod’s Clinical Examination" name="Macleod’s Clinical Examination"> Macleod’s
        Clinical Examination
    </label>
    <label>
        <input type="checkbox" id="PRINCIPLES OF INTERNAL MEDICINE" name="PRINCIPLES OF INTERNAL MEDICINE"> Harrison's
        PRINCIPLES
        OF INTERNAL MEDICINE
    </label>

    <label>
        <input type="checkbox" id="The ECG Made Easy" name="The ECG Made Easy">John R. Hampton, The ECG Made Easy
    </label>


    <!-- Add more checkboxes as needed -->
    <br>
    <button id="apply-btn">Apply</button>
    <br><br>
</div>