<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MFKV4DJ9CR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MFKV4DJ9CR');
    </script>
    <title>PDF upladed succussfully</title>
</head>

<body>
    <h1>PDF upladed succussfully</h1>
    <p>We will process your document and it will be available in 24.</p>
    <p> Contact us at info@zospital.com in case of delay.</p>
</body>

</html>


