<!DOCTYPE html>
<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X14CB1KS9Q"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-X14CB1KS9Q');
    </script>
    <title>PDF upladed succussfully</title>
</head>

<body>
    <h1>PDF upladed succussfully</h1>
    <p>We will process your document and it will be available in 24.</p>
    <p> Contact us at info@zospital.com in case of delay.</p>
</body>

</html>