<div id="filter-options">
    <div class="year-container">
        <b><label for="start-year">Start Year:</label></b>
        <select id="start-year" name="start_year"></select>
        <b> <label for="end-year">&nbsp &nbsp End Year:</label></b>
        <select id="end-year" name="end_year"></select>
    </div> <br>
    <b>Filter by book name:</b> <br>
    <label>
        <input type="checkbox" id="Meharban Singh Drug Dosages in Children"
            name="Meharban Singh Drug Dosages in Children">Meharban Singh Drug Dosages in Children
    </label>

    <br>
    <button id="apply-btn">Apply</button>
    <br><br>
</div>