<!DOCTYPE html>
<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X14CB1KS9Q"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-X14CB1KS9Q');
    </script>
    <title>Server Limit Reached</title>
</head>

<body>
    <h1>Opps!! To many people using this page!!!!</h1>
    <p>Apologies, the server cannot handle any more requests at the moment. Please refresh or try again later. Thanks </p>
</body>

</html>